@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
body {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(42, 153, 231, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(42, 153, 231, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(42, 153, 231, 1) 35%, rgba(0, 212, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00d4ff", GradientType=1);
}

.container {
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
}

form {
    display: inline-block;
}

input {
    padding: 4px 15px 4px 5px;
}

#button {
    display: inline-block;
    background-color: #fc999b;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    margin-top: 2px;
    padding: 5px 15px;
}

#button:hover {
    cursor: pointer;
    opacity: .8;
}

ol {
    padding-left: 20px;
}

ol li {
    padding: 5px;
    color: #000;
}

ol li:nth-child(even) {
    background: #dfdfdf;
}

.strike {
    text-decoration: line-through;
}

li:hover {
    cursor: pointer;
}

.delete {
    display: none;
}

li>crossOutButton {
    background: none;
    border: none;
    float: right;
    color: #025f70;
    font-weight: 800;
}